/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('pexels-marleneleppanen-1019771\ \(1\).jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff4b2b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #ff3a1f;
  }
  
  #message {
    margin-top: 20px;
    font-size: 16px;
    color: red;
  }
  